
.modal-form-errors.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				button.close(data-dismiss='modal') x
				h4 啊欧!
			.modal-body
				| 貌似有错误发生.
				ul
			.modal-footer
				button(data-dismiss="modal").btn.btn-primary 确定